<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.xjgj.mall"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <!--
         MD5: E0:B8:39:54:81:7E:8C:E2:51:67:F9:45:E6:19:BB:60
         SHA1: CC:DE:0D:85:1D:4A:71:BF:9B:E3:53:F4:7F:37:4D:B3:72:DF:07:D7
         SHA256: E5:43:27:91:5F:BD:D7:34:71:7C:1D:30:84:7A:93:13:F1:17:BA:04:90:65:55:B3:94:62:CB:FD:00:79:05:BD -->

    <!-- 访问照相机-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- 启动页 -->
        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 主页面 -->
        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait"/>
        <!-- 登录 -->
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait"/>
        <!-- 注册 -->
        <activity
            android:name=".ui.register.RegisterActivity"
            android:screenOrientation="portrait"/>
        <!-- 地图选择和搜索位置 -->
        <activity
            android:name=".ui.location.ChooseLocationActivity"
            android:screenOrientation="portrait"/>
        <!-- 完善订单信息 -->
        <activity
            android:name=".ui.improveorder.ImproveOrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <!-- 完善订单信息 -->
        <activity
            android:name=".ui.improveorder.ImproveOrderOnSiteActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <!-- 给司机捎句话 -->
        <activity
            android:name=".ui.sentence.WriteSentenceActivity"
            android:screenOrientation="portrait"/>
        <!-- 额外服务 -->
        <activity
            android:name=".ui.extraservice.ExtraServiceActivity"
            android:screenOrientation="portrait"/>
        <!-- 额外服务 -->
        <activity
            android:name=".ui.comfirmorder.ComfirmOrderActivity"
            android:screenOrientation="portrait"/>
        <!-- 发货位置信息 -->
        <activity
            android:name=".ui.delivery.DeliveryInfoActivity"
            android:screenOrientation="portrait"/>
        <!-- 营业执照 -->
        <activity
            android:name=".ui.businesslicence.BusinessLicenceActivity"
            android:screenOrientation="portrait"/>
        <!-- 实名认证 -->
        <activity
            android:name=".ui.certification.CertificationActivity"
            android:screenOrientation="portrait"/>
        <!-- 取消订单 -->
        <activity
            android:name=".ui.cancelorder.CancelOrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <!-- 订单详情 -->
        <activity
            android:name=".ui.orderdetail.OrderDetailActivity"
            android:screenOrientation="portrait"/>
        <!-- 订单评价 -->
        <activity
            android:name=".ui.orderevaluate.OrderEvaluateActivity"
            android:screenOrientation="portrait"/>
        <!-- 订单申诉 -->
        <activity
            android:name=".ui.orderappeal.OrderAppealActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <!-- 个人资料 -->
        <activity
            android:name=".ui.personalprofile.PersonalProfileActivity"
            android:screenOrientation="portrait"/>
        <!-- 司机行驶轨迹 -->
        <activity
            android:name=".ui.maprouteoverlay.MapRouteOverlayActivity"
            android:screenOrientation="portrait"/>
        <!-- 附近司机位置 -->
        <activity
            android:name=".ui.mapdriveraddress.MapDriverAddressActivity"
            android:screenOrientation="portrait"/>


        <!-- 将Bitmap的格式改为ARGB_8888 -->
        <meta-data
            android:name="com.android.frameproj.library.util.GlideConfiguration"
            android:value="GlideModule"/>

        <!-- 适配android6.0以上拍照问题 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <!--百度地图定位SERVICE -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
        </service>

        <!-- 百度地图AcessKey -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="mFPjNn9HWii1KiKWLTFdgvb3KI7LQVoF"/>

        <receiver
            android:name="com.xjgj.mall.receiver.MyReceiver"
            android:enabled="true">
            <intent-filter>
                <!--Required 用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!--Required 用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!--Required 用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!--Required 用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="com.xjgj.mall" />
            </intent-filter>
        </receiver>

    </application>

</manifest>